body {
    background: #333;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.margin-top-bot {
    margin-top: 20px;
    margin-bottom: 20px;
}